Useful youtube video: https://www.youtube.com/watch?v=_gaAoJBMJ_Q

In [89]:
import pandas as pd

In [90]:
learning_dataset = pd.read_csv("learning_dataset.csv")

In [91]:
learning_dataset

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%
...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%

In [92]:
learning_dataset.dtypes

productname         object
date                object
farmprice           object
atlantaretail       object
chicagoretail       object
losangelesretail    object
newyorkretail       object
averagespread       object
dtype: object

***

## Create pipelines for common transforms

In [93]:
def numeric_to_numbers(input_df, string_to_delete):
    df = input_df.copy()
    for col in df.columns:
        try:
            df[col] = pd.to_numeric(learning_dataset[col].str.replace(string_to_delete,''),errors='raise')
            print("CONVERTED column " + col)
        except:
            #print("NIE ZAMIENIONO kolumny " + col)
            pass
    return df

In [94]:
processed_dataset = numeric_to_numbers(learning_dataset, '$')
processed_dataset

CONVERTED column farmprice
CONVERTED column atlantaretail
CONVERTED column chicagoretail
CONVERTED column losangelesretail
CONVERTED column newyorkretail

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread
0,Strawberries,2019-05-19,1.16,2.23,1.70,1.99,2.54,82.33%
1,Romaine Lettuce,2019-05-19,0.35,1.72,2.00,1.69,1.99,428.57%
2,Red Leaf Lettuce,2019-05-19,0.32,1.84,1.84,1.69,1.89,467.19%
3,Potatoes,2019-05-19,1.50,5.32,5.14,3.99,6.22,244.50%
4,Oranges,2019-05-19,0.41,1.42,1.45,1.34,2.05,281.71%
...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,0.29,1.46,0.00,0.97,1.15,208.62%
15762,Broccoli Bunches,1999-10-24,0.23,1.21,0.00,0.84,1.10,242.39%
15763,Cauliflower,1999-10-24,0.19,1.01,0.00,0.75,0.92,252.63%
15764,Carrots,1999-10-24,0.12,0.64,0.00,0.84,0.59,331.25%
15765,Cantaloupe,1999-10-24,0.21,0.54,0.00,0.56,0.79,125.00%

In [95]:
processed_dataset.dtypes

productname          object
date                 object
farmprice           float64
atlantaretail       float64
chicagoretail       float64
losangelesretail    float64
newyorkretail       float64
averagespread        object
dtype: object

# Saving processed data with type-supportive method

In [ ]:
processed_dataset.to_parquet